*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightblue;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.heading{
    height: 50px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
     position: absolute;
    top: 25px;
    left: 400px;
   
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 400px;
    width: 1300px;
    
}
.box{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin: 5px;
    background-color: burlywood;
    font-size: 50px;
    font-weight: 500px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: red;
    
}
.game{
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
}

.btn{
    background-color: black;
    height: 70px;
    width: 200px;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    position: absolute;
    top: 500px;
    left: 550px;
}
.head :hover{
    border: 2px, solid, orange;
}
.game :hover{
    border: 2px, solid, white;
}
.button :hover{
    border: 5px, solid, white;
}

.msg-container{
    position: absolute;
    top: 20px;
    left: 550px;
}
.msg-head{
    font-size:  30px;
}
.new-btn{
      background-color: green;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
}
.msg-container :hover{
    border: 2px, solid, white;
}
.hide{
    display: none;
}
